<% include('./../layout/header.ejs') %>
<h1>Dashboard</h1>
<a href="http://13.233.72.26:3000/admin/newuser">Add new user</a>
<a href="http://13.233.72.26:3000/admin/exportuser">exportuser</a>
<a href="http://13.233.72.26:3000/admin/pdf">pdfdownload</a>
<table width="80%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Image</th>
        <th>Verified</th>
        <th>  Action</th>
    </tr>
    <% if (users.length>0) {
        for (let index = 0; index < users.length; index++) {
          %>
          <tr>
            <td><%= users[index].name%></td>
            <td><%= users[index].email%></td>
            <td><%= users[index].PhoneNumber%></td>
            <td><img src="userimage/<%= users[index].image%>" alt="" width="150px"></td>
            <td><% if (users[index].isverified===1) {
                %> Verified<%
            } else {
                %>not Verified<%
            }%></td>
            <td>
                <td><a href="/admin/edit?id=<%= users[index]._id%>">edit</a></td><br>
                <td><a href="/admin/delete?id=<%= users[index]._id%>">Delete</a></td>
            </td>

            </tr>
          <%
            
        }
    } else {
        %>
        <tr><td>Users Not found</td></tr>
        <%
    } %>
</table>
<a href="/admin/home">Home</a>
<% include('./../layout/footer.ejs') %>